body{
	width: 95%;
	margin: 0 auto;
}

input,
select{
	margin-bottom: 20px;
}

*{
	font-family: "Open sans", Arial, sans-serif;
	color: rgb(58,58,58)
}

select{
	width: 100% !important;
}

h1{
	text-align: center;
	width: 100%;
}

.wsnr{
	white-space: nowrap !important;
}